/* an example to illustrate how to tweak font sizes */

/* to apply a setting only when under RISE, 
   be aware that the <body> tag has class .rise-enabled */


/* ---------- markdown cells
 */
body.rise-enabled div.inner_cell>div.text_cell_render.rendered_html {
    font-size: 80%;
}


/* ---------- code blocks inside markdown
   i.e. within ``` lines, or 4-space indented
 */
div.inner_cell>div.text_cell_render.rendered_html>pre {
    margin: 0px;
}

div.inner_cell>div.text_cell_render.rendered_html>pre>code {
    font-size: 70%;
}

#rise-header {
	width: 100%;
	padding-left: 6em;
	margin-right: auto;
	margin-left: auto;
	background-color: #002f5f;
	color: #fff;
	border-bottom: 4px solid #acdee6;
	height: 5em;
}

div.inner_cell>div.text_cell_render.rendered_html>blockquote>p>img {
    margin-left: auto;
    margin-right: auto;
}

div.inner_cell>div.text_cell_render.rendered_html>blockquote>p {
    text-align: center;
    font-size: 50%;
}

.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6  {
	font-family: sans-serif;
}

.left {
  float: left;
  width: 47%;
}
.right {
  float: right;
  width: 47%;
}